.loading {
	color: white;
	font-size: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.homeBody {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.homeHeader {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.homeHeader img {
	width: 50%;
}

.homeList {
	width: 90%;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	padding: 50px;
	margin-bottom: 30px;
}

.poster {
	position: relative;
	padding: 10px;
}

.homeImg {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 30px;
}

.homeTitle {
	font-size: 25px;
	font-style: italic;
	text-transform: uppercase;
	font-weight: 800;
	color: white;
	position: absolute;
	top: 20px;
	left: 25px;
	display: none;
}

.poster:hover {
	animation: enlarge 0.5s linear forwards;
}

.poster:hover .homeTitle {
	display: unset;
}

@keyframes enlarge {
	0% {
		transform: none;
	}
	100% {
		transform: scale(1.1);
	}
}
